/* bikesh  */
.slide{
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s ease;
    transform: translateX(0px);
}
h1{
    color:lightcoral;
    font-weight:800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}

ul li{
    list-style: none;
}
ul li a{
    color: white;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;

}
ul li a i{
width: 40px;
text-align:center ;
}
input{
display: none;
visibility: hidden;
-webkit-appearance: none;


}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left:15px;
    background-color: red;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: white;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3) ;
}
.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color:lightcoral;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line {
    left: 2px;
    top:14px;
    width: 25px;
    transform: rotate(-45deg);

}
input:checked ~ .toggle .bottom_line {
    left: 2px;
    top:14px;
    width: 25px;
    transform: rotate(-45deg);

}
input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);

}
input:checked~ .slide {
    transform: translateX(0);
}
/* bikesh */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.screen{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image:linear-gradient(rgba(50, 50, 50, 0.9),rgba(50,50,50,0.9)),url(ScavengerHunt.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
   
}



.menu {
    width: 10%;
    min-height: 10vh;     
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    bottom: 0; /* Changed from 'top: 0;' */
    left: 0;
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}





.container{
    width: 70%;
    height: 670px;
    background-color: rgba(184, 33, 33, 0);
    position: fixed;
    top: 100px;
    right: 0px;
    align-items:flex-start;
    justify-content: center;
    overflow-y:scroll;
}

.tile{
    width: 80%;
    height: 175px;
    background-color: rgb(79, 112, 142);
    margin-bottom: 55px;
    margin-top: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10%;
}

.tile-title{
	font-size: 18px;
	color: #fff;
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
}

.tile-desc{
	font-size: 16px;
	color: #eee;
	position: absolute;
	margin-left: 10px;
	margin-top: 50px;
	margin-right: 120px;
}

.tile-rating{
    
	font-size: 16px;
	color: #eee;
	position: absolute;
	margin-top: 10px;
	margin-left: 77%;
}




.tile-date{
	font-size: 16px;
	color: #eee;
	position: absolute;
	margin-top: 150px;
	margin-left: 70%;
}

.search-bar{
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 10px;
    right: 70px;
    background: rgba(235, 231, 231, 0.89);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 5px 20px;
    backdrop-filter: blur(5px);
    
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 15px;
    font-size: 16px;
    color: #161515;
}

.search-bar button img{
    width: 40px;
    opacity: 0.60;
    
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgba(228, 222, 222, 0.836);
    cursor: pointer;
}

.create{
    display: flex;
    height: 50px;
    width: 125px;
    padding: 0;
    background: rgba(231, 226, 226, 0.897);
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 30px;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    color: #7a7474;
    position: fixed;
    top: 10px;
    right: 480px;
    backdrop-filter: blur(5px);
}

.account{
    display: flex;
    height: 50px;
    width: 50px;
    padding: 0;
    background: rgba(255, 255, 255, 0.2);
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    backdrop-filter: blur(5px);
}

.account img{
    width: 35px;
}

.dropdown{
    width: 100%;
    position: relative;
    margin-top: 25px;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #3a4050;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #6c717c solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.selections {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position:absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.selections li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.selections li:hover{
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.selections-open {
    display: block;
    opacity: 1;
}


